<!DOCTYPE html>
<html>
<head>
    <title>Chúc mừng sinh nhật</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f2f2f2;
        }
        h1 {
            font-size: 2rem;
            color: #00698f;
            margin-top: 1rem;
        }
        p {
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 2rem;
        }
        .emoji {
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <h1>Chúc mừng sinh nhật {{ log.who }} <span class="emoji">🎂</span></h1>
    <p>{{ log.loi_chuc }}</p>
</body>
</html>
